[submodule "vim/bundle/vimplug"]
	path = vim/bundle/vimplug
	url = https://github.com/junegunn/vim-plug.git
[submodule "vim/bundle/vim-plug"]
	path = vim/bundle/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vim/fonts"]
	path = vim/fonts
	url = https://github.com/powerline/fonts.git
[submodule "vim/ctags"]
	path = vim/ctags
	url = https://github.com/universal-ctags/ctags.git
[submodule "kubernetes/kube-ps1"]
	path = kubernetes/kube-ps1
	url = git@github.com:jonmosco/kube-ps1.git
