[submodule "vim/bundle/vimplug"]
	path = vim/bundle/vimplug
	url = https://github.com/junegunn/vim-plug.git
[submodule "vim/bundle/vim-plug"]
	path = vim/bundle/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vim/fonts"]
	path = vim/fonts
	url = https://github.com/powerline/fonts.git
